.DS_Store
Thumbs.db
*.pyc
todo.md
.ftpconfig

node_modules/
platforms/
plugins/

jxcore-cordova/
.idea/
platforms/android/
platforms/ios/
platforms/platforms.json

plugins/fetch.json

io.jxcore.node/
