/* general
__________________________________________________________________________ */

*,
*:before,
*:after
{
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;

	-webkit-user-select: none;
		 -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
}


/* typography
__________________________________________________________________________ */

body,
textarea,
input
{
	word-wrap: break-word;

	color: #302129;
	background-color: #ebebeb;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a
{
	text-decoration: none;

	color: #4446f4;
}


/* nav
__________________________________________________________________________ */

audio
{
	display: block;

	margin: 0 auto;
}


/* general
__________________________________________________________________________ */

#txt
{
	width: 100%;
	max-width: 500px;
	margin: 1em auto;
	font-size: 1em;

	color: rgba(0, 0, 0, 0.541176);

	/*border: 1px solid #607d8b;
	border-radius: 2px;*/
}

ul { padding: 1em 2em;}
li { padding: .2em 0em .2em 0em;}


.button_container
{
	width: 100vw;
	margin-bottom: 2em;

	text-align: center;
}

.button_container img
{
	display: block;

	width: 50vw;
	max-width: 300px;
	margin: 1.5em auto;
}

.button
{
	font-size: 125%;

	width: 40px;
	max-width: 300px;
	padding: 10px 20px;

	text-decoration: none;

	color: #fff;
	border-radius: 8px;
	background: #fa6262;
}


/* app
__________________________________________________________________________ */

#listen_msg { display: none; }

#qrcode_container { display: none;}

#qrcode {
	margin: 1.5em;
}

#qrcode img
{
	max-width: 100%;
	margin: 0 auto;
	max-height: 36vh;
	width: 36vh;
}

.content_container {
	width: 100%;
}

#url_info {
	padding-top: 1.5em;
	font-size: 1em;
	font-family: monospace;
	margin: 0 auto;
	text-align: center;
}

img { width: 100%;}


/* material
__________________________________________________________________________ */

.page-content {
	padding: 0.25em 1em 0 1em;
}

div.mdl-layout__header-row {
	color: #ffffff;
}

i.material-icons {
	color: #ffffff;
}
.demo-card-wide.mdl-card {
	padding: 1em;
	padding-bottom: 2em;
	width: 100%;
	max-width: 512px;
	min-height: 0;
	margin: 1em auto;
}

.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 125px;
	background: url('../img/welcome.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
	color: #fff;
}

.mdl-navigation__link {
	font-size: 110%;
}

a.mdl-navigation__link {
	padding-left: 100px;
}

div.mdl-card__supporting-text p {
	font-size: 120%;
}

.mdl-card__supporting-text {
	padding: 1em;
	width: 100%;
}

/* UI
__________________________________________________________________________ */

#app_container {
	display: none;
}

#form_container {
	display: none;
}

.app_content {
	display: none;
}

#network_ip {
	display: none;
}

.divider {
	height: 25px;
}

#audio_control {
	display: none;
}
